html {
    background-color: #181818;
    font-family: Arial, Helvetica, sans-serif;
}

#box {
    height: 90%;
    width: 80%;
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px -5px black;
    background-color: #181818;
    display: none;
    z-index: 2;
}

#exit {
    color: white;
    position: absolute;
    top: 30;
    left: 97%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}

#title {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 300%;
    width: 100%;
    text-align: center;
    color: white;
}

#image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: 100% 100%;
    max-height: 47%;
    max-width: 70%;
    color: white;
    font-size: 200%;
}

#wiki {
    color: white;
    position: absolute;
    top: 97%;
    left: 5%;
    transform: translate(-50%, -50%);
}

#webcast {
    color: white;
    position: absolute;
    top: 97%;
    left: 15%;
    transform: translate(-50%, -50%);
}

#patch {
    margin-left: 20px;
    margin-top: 20px;
    max-height: 100px;
    max-width: 100px;
    color: white;
}

#button {
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

#list {
    color: white;
    font-size: 90%;
    width: 100%;
    margin-top: 100px;
}

.listNumber {
    display: flex;  
    justify-content: space-between;
    border: 2px solid rgb(184, 247, 255);
    background-color: #404040;
    transition-duration: 0.4s;
}

.listNumber:hover{
    background-color: rgb(165, 165, 165);
    color: black;
}

#listName {
    margin-top: 0;
}

#listDate {
    margin-top: 0;
}

#listTop {
    font-size: 200%;
}

.topNumber {
    position: absolute;
    top: 0%;
    left: 10%;
    transform: translate(-50%, -50%);
}

.topName {
    position: absolute;
    top: 0%;
    left: 42%;
    transform: translate(-50%, -50%);
}

.topTime {
    position: absolute;
    top: 0%;
    left: 90%;
    transform: translate(-50%, -50%);
    width: 12%;
}

#footerList {
    width:100%;
    height:200px;
    background:#121212;
    font-size: 200%;
    line-height: 80px;
    list-style-type: none;
    text-align: center;
    left: 0;
    bottom: 0;
    z-index: 1;
}

#api {
    opacity: 0.7;
    color: white;
    transition-duration: 0.4s;
    text-decoration: none;
    font-size: 100%;
}

#api:hover {
    opacity: 1;
}

.social {
    display: flex;
    justify-content: center;
}

.social i{
    opacity: 0.7;
    color: rgb(194, 194, 194);
    border: 2px solid #ffffff;
    border-radius: 50%;
    padding: 10px;
    transition-duration: 0.4s;
    margin: 10px;
    padding: 6px;
}

.social i:hover {
    opacity: 1;
}

